<div>
    {{!-- <h1>¡Hola {{user.name}}!</h1>
    {{#if isAdmin}}
        <h2>¡Bienvenido {{user.role}}!</h2>
        <h3>Estos son los productos:</h3>
        {{#each food}}
            <p>{{this.name}}</p>
            <p>{{this.price}}</p>
        {{/each}}
    {{/if}} --}}
    <input type="text" id="user">
    <input type="text" id="text">
    <p id="res"></p>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    {{!-- <script src="/js/index.js"></script> --}}