<div id="contenedorChat">
    {{!-- <h1>¡Hola {{user.name}}!</h1>
    {{#if isAdmin}}
        <h2>¡Bienvenido {{user.role}}!</h2>
        <h3>Estos son los productos:</h3>
        {{#each food}}
            <p>{{this.name}}</p>
            <p>{{this.price}}</p>
        {{/each}}
    {{/if}} --}}
    <input type="text" id="user" placeholder="Ingrese nickname">
    <div id="res"></div>

    <div id="contenedorText">
        <input type="text" placeholder="Enviar mensaje..." id="text">
        <div id="archivoBtn">
            <a>
                <img class="imagen" src="https://w7.pngwing.com/pngs/147/42/png-transparent-computer-icons-paper-clip-email-attachment-others-miscellaneous-document-file-format-email-attachment.png" alt="">
            </a>
            <input id = "file" type="file" >
        </div>
        <button id="enviarBtn"><img id="enviarImg" class="imagen" src="https://w7.pngwing.com/pngs/841/271/png-transparent-computer-icons-send-miscellaneous-angle-triangle.png" alt=""></button>
    </div>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    {{!-- <script src="/js/index.js"></script> --}}